* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 1.6rem;
}

.container {
  background: url(./assets/bg.png) no-repeat center/cover;
  min-height: 100vh;
  display: grid;
  place-content: center;
}


.temperature-now {
  background: url(./assets/temperature-now.png);
  height: 48rem;
  width: 48rem;
  left: 13.8rem;
  top: 14.4rem;
  border-radius: 1rem;
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  
}

.temperature-now::before {
  content: "";
  width: 17.6rem;
  height: 17.6rem;
  background: url(./assets/weather.png);
  position: absolute;
  top: -5.6rem;
  left: -5.6rem;
}

.temperature-now__city {
  justify-self: end;
  padding: 3.2rem 3.2rem 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  
}

.temperature-now__city strong {
  font-size: 1.4rem;
  color: #C2BFF4;
}

.temperature-now__temperature {
  text-align: center;
  margin: 6rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  gap: .4rem;
}

.temperature-now__temperature .number {
  text-align: center;
  color: #FFFFFF;
  font-size: 8.8rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.temperature-now__temperature .number .temperature-now__minmax {
  font-size: 2rem;
}

.temperature-now__temperature .number .temperature-now__minmax span {
  color: #C2BFF4;
}

.celsius {
  font-size: 2.4rem;
  color: #DAD8F7;
  margin-top: 1.5rem;
}

.temperature-now__statistic { 
  padding: 1.2rem;
  display: flex;
  gap: 0.8rem;
}
.temperature-now__statistic .temperature-now__info {
  flex: 1;
  padding: 1.2rem 1.6rem;
  background: rgba(102, 96, 200, 0.6);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.temperature-now__info .info-label {
  color:#E7E6FB;
}

.temperature-now__info .info-label h5 span,
.temperature-now__info .info-label p {
  font-size: 1.2rem;
}

.temperature-now__info .info-label h5 {
  font-size: 1.8rem;
}

